html {
    height: 100%;
}

#rdoS1:checked ~ ul li:nth-child(1) img {
    //visibility: visible;
    opacity: 1;
}

#rdoS1:checked ~ div label:nth-child(1) {
    background-color: white;
}

#rdoS2:checked ~ ul li:nth-child(2) img {
    //visibility: visible;
    opacity: 1;
}

#rdoS2:checked ~ div label:nth-child(2) {
    background-color: white;
}

#rdoS3:checked ~ ul li:nth-child(3) img {
    //visibility: visible;
    opacity: 1;
}

#rdoS3:checked ~ div label:nth-child(3) {
    background-color: white;
}

.slider {
    width: 100%;
    height: 300px;
    overflow: hidden;
    position: relative;
    li {
        position: absolute;
        top: 50%;
        left: 0px;
        transform: translateY(-50%);
        img {
            width: 100%;
            min-height: 300px;
            min-width: 471px;
            //visibility: hidden;
            opacity: 0;
            transition: opacity 2s;
        }
    }
    div {
        position: absolute;
        left: 50%;
        bottom: 1%;
        transform: translateX(-50%);
        z-index: 1000;
        //outline: 1px solid red;
        text-align: center;
        label {
            margin: 15px;
            display: inline-block;
            border-radius: 50%;
            width: 15px;
            height: 15px;
            background-color: black;
            border: 3px solid black;
            box-shadow: -1px 1px 16px 1px rgba(255, 255, 255, 1);
        }
    }
}